<div class="detail-frame" *ngIf="movie">
    <h2>{{movie.name}}</h2>
    <div class="field"><h4>Director: {{directorInfo.name}}</h4></div> <button *ngIf="directorInfo.name" (click)="registerDirector('null')">dissociate</button>
    <div class="field"><h4>Studio: {{studioInfo.name}}</h4></div> <button *ngIf="studioInfo.name" (click)="registerStudio('null')">dissociate</button>
    <h4>Actors:</h4>
    <ul>
      <li *ngFor="let actor of actorsInfo">{{actor.name}} <button (click)="unassociateActor(actor.id)">dissociate</button></li>
    </ul>
    <h4>Associated genres:</h4>
    <ul>
      <li *ngFor="let genre of genresInfo">{{genre.name}} <button (click)="unassociateGenre(genre.id)">dissociate</button></li> 
    </ul>
    
    <!-------------------------------------------------------------------------------------------------------->
    <hr>


    <div class="edition">

      <h4>Editions on the movie:</h4>

      <div>
        <div class="label"><label>Change name:</label></div>
        <div class="input"><input [(ngModel)]="movie.name" placeholder="name"/></div>
        <div class="button"><button (click)="save()">save</button></div>
      </div>

      <div>
        <div class="label"><label for="directors">Associate director:</label></div>
        <div class="input"><select #selectedDirectorID>
          <option *ngFor="let director of directors" [value]="director.id"> {{ director.name }} </option>
        </select></div>
        <div class="button"><button (click)="registerDirector(selectedDirectorID.value)">register</button></div>
      </div>

      <div>
        <div class="label"><label for="studios">Associate studio:</label></div>
        <div class="input"><select #selectedStudioID>
          <option *ngFor="let studio of studios" [value]="studio.id"> {{ studio.name }} </option>
        </select></div>
        <div class="button"><button (click)="registerStudio(selectedStudioID.value)">register</button></div>
      </div>

      <div>
        <div class="label"><label for="actors">Associate actor:</label></div>
        <div class="input"><select #selectedActorID>
          <option *ngFor="let actor of actors" [value]="actor.id"> {{ actor.name }} </option>
        </select></div>
        <div class="button"><button (click)="registerActor(selectedActorID.value)">register</button></div>
      </div>

      <div>
        <div class="label"><label for="genres">Associate genre:</label></div>
        <div class="input"><select #selectedGenreID>
          <option *ngFor="let genre of genres" [value]="genre.id"> {{ genre.name }} </option>
        </select></div>
        <div class="button"><button (click)="registerGenre(selectedGenreID.value)">register</button></div>
      </div>

  </div>

</div>
