div.detail-frame {
    font-size: small;
    margin: 0;
    color: #E94F37;
}

div.label {
    float: left;
    width: 42%;
}

div.input {
    float: left;
    width: 42%; 
}

div.button {
    float: left;
    width: 16%;
}

hr {
    background-color: #E94F37;;
    height: 0.05em;
    border-color: #E94F37;
}

button {
    background-color: #E94F37;
    color: #393E41;
    border-radius: 0.8em;
}

input {
    border-radius: 0.8em;
    color: #E94F37;
}

select {
    background-color: #E94F37;
    color: #393E41;
    border-radius: 0.8em;
}
