<div>
    <label>insert new movie :
      <input placeholder="movie name" #movieName />
    </label>
    <button (click)="addMovie(movieName.value); movieName.value=''"> add </button>
</div>


<div>
    <label>insert new director :
      <input placeholder="director name" #directorName />
    </label>
    <button (click)="addDirector(directorName.value); directorName.value=''"> add </button>
</div>

<div>
  <label for="directors">Remove existing director:</label>
  <select #selectedDirectorID>
    <option *ngFor="let director of directors" [value]="director.id"> {{ director.name }} </option>
  </select>
  <button (click)="deleteDirector(selectedDirectorID.value); selectedDirectorID.value=''">remove</button>
</div>

<div>
    <label>insert new studio :
      <input placeholder="studio name" #studioName />
    </label>
    <button (click)="addStudio(studioName.value); studioName.value=''"> add </button>
</div>

<div>
  <label for="studios">Remove existing studio:</label>
  <select #selectedStudioID>
    <option *ngFor="let studio of studios" [value]="studio.id"> {{ studio.name }} </option>
  </select>
  <button (click)="deleteStudio(selectedStudioID.value); selectedStudioID.value=''">remove</button>
</div>

<div>
    <label>insert new actor :
      <input placeholder="actor name" #actorName />
    </label>
    <button (click)="addActor(actorName.value); actorName.value=''"> add </button>
</div>

<div>
  <label for="actors">Remove existing actor:</label>
  <select #selectedActorID>
    <option *ngFor="let actor of actors" [value]="actor.id"> {{ actor.name }} </option>
  </select>
  <button (click)="deleteActor(selectedActorID.value); selectedActorID.value=''">remove</button>
</div>