button {
    background-color: #E94F37;
    color: #393E41;
    border-radius: 0.8em;
}

hr {
    background-color: #E94F37;;
    height: 0.05em;
    border-color: #E94F37;
}


input {
    background-color: #E94F37;
    color: #393E41;
    border-radius: 0.8em;
}

::-moz-placeholder {
    color: #393E41;
}

::-webkit-input-placeholder {
    color: #393E41;
}

::placeholder {
    color: #393E41;
}

select {
    background-color: #E94F37;
    color: #393E41;
    border-radius: 0.8em;
}

div.inner-div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.movie-insert {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.other-inserts {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.removals {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.label {
    float: left;
    width: 41%;
}

div.smaller-label {
    float: left;
    width: 34%;
}

div.input {
    float: left;
    width: 43%; 
}

div.smaller-input {
    float: left;
    width: 25%;
}

div.button {
    float: left;
    width: 16%;
}

select {
    width: 12em;
}

select.smaller-select {
    width: 7em;
}

input.smaller-input-field {
    width: 6em;
}