<h2>Added movies and series:</h2>
<app-movie-search></app-movie-search>
<ul class="movies">
  <li *ngFor="let movie of movies" (click)="onSelect(movie)">
    <!-- show small description if movie not selected -->
    <div *ngIf="selectedMovie != movie" class="not-selected">
      <button class="delete" title="delete movie" (click)="delete(movie)"><b>X</b></button>
      <h2>{{movie.name}}</h2>
      <!--a routerLink="/detail/{{movie.id}}"> Details ...</a-->
    </div>
    <!-- show bigger description if movie selected -->
    <div *ngIf="selectedMovie == movie" class="selected">
      <button class="delete" title="delete movie" (click)="delete(movie)"><b>X</b></button>
      <h2>{{movie.name}}</h2>
      <!--a routerLink="/detail/{{movie.id}}"> Details ...</a-->
    </div>
  </li>
</ul>

<div id="insertion-frame">
  <h2>Insert more information:</h2>
  <app-movie-insertion [movies]="movies" [directors]="directors" [studios]="studios" [actors]="actors" (updateDisplayedInfo)="refreshAll($event)"></app-movie-insertion>
</div>

<div id="detail-main-frame">
  <h2>Movie details :</h2>
  <app-movie-detail [movie]="selectedMovie" [directors]="directors" [studios]="studios" [actors]="actors" [genres]="genres" [directorInfo]="directorInfo"
  [studioInfo]="studioInfo" [actorsInfo]="actorsInfo" [genresInfo]="genresInfo" (updateDisplayedInfo2)="refreshAll($event)"></app-movie-detail>
  <button class="clear" (click)="selectNone()"><b>clear</b></button>
</div>

