button.delete {
    position: relative;
    left: 27.5em;
}


button {
    background-color: #86A5D9;
    color: #393E41;
    border-radius: 0.8em;
}

button.non-selected {
    background-color: #393E41;
    color: #86A5D9;
    border-radius: 0.8em;
}

button.clear {
    position: absolute;
    bottom: 1em;
    left: 45%;
}

div.selected {
    background-color: #393E41;
    color: #86A5D9;
    width: 25.5em;
    height: 5em;
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.not-selected {
    background-color: #86A5D9;
    color: #393E41;
    width: 25em;
    height: 5em;
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div:hover {
    width: 25.5em;
    margin-left: 0em;
}

li {
    list-style: none;
    cursor: pointer;
}

#empty-list-warning {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #86A5D9;
}

#detail-main-frame {
    position: fixed;
    right: 4em;
    top: 9em;
    height: 40em;
    width: 30em;
    padding: 1em;
    border-radius: 16px;
    border-style: solid;
    border-color: #86A5D9;
    color: #86A5D9;
    background-color: #393E41;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#insertion-frame {
    position: fixed;
    right: 39em;
    top: 9em;
    height:25em;
    width: 25em;
    padding: 1em;
    border-radius: 16px;
    border-style: solid;
    border-color: #86A5D9;
    color: #86A5D9;
    background-color: #393E41;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#advanced-search-frame {
    position: fixed;
    right: 39em;
    top: 37em;
    height: 12em;
    width: 25em;
    padding: 1em;
    border-radius: 16px;
    border-style: solid;
    border-color:  #86A5D9;
    color: #393E41;
    background-color: #86A5D9;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}