button.delete {
    position: relative;
    left: 27.5em;
}

button.clear {
    position: fixed;
    top: 55em;
    right: 26em;
    color: #E94F37;
}

button {
    background-color: lavenderblush;
    color: #393E41;;
}

div.selected {
    background-color: #393E41;
    color: #E94F37;
    width: 25.5em;
    border-radius: 4px;
    padding: 1em;
    margin: 0.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.not-selected {
    background-color: #E94F37;
    color: #393E41;
    width: 25em;
    border-radius: 4px;
    padding: 1em;
    margin: 0.5em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div:hover {
    width: 25.5em;
    margin-left: 0em;
}

li {
    list-style: none;
    cursor: pointer;
}

#empty-list-warning {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #E94F37;
}

#detail-main-frame {
    position: fixed;
    right: 7em;
    top: 9em;
    height: 40em;
    width: 30em;
    padding: 1em;
    border-radius: 4px;
    border-style: solid;
    border-color: #E94F37;
    color: #E94F37;
    background-color: #393E41;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#insertion-frame {
    position: fixed;
    right: 42em;
    top: 9em;
    height:25em;
    width: 25em;
    padding: 1em;
    border-radius: 4px;
    border-style: solid;
    border-color: #E94F37;
    color: #E94F37;
    background-color: #393E41;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#advanced-search-frame {
    position: fixed;
    right: 42em;
    top: 37em;
    height: 12em;
    width: 25em;
    padding: 1em;
    border-radius: 4px;
    border-style: solid;
    border-color: #E94F37;
    color: #E94F37;
    background-color: #393E41;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}